<nav class="sidebar">
  <div class="sidebar-header">
    <h2 style="margin-bottom: 150px">Dashboard</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>

    <li>
      <a routerLink="/Over-view-page" routerLinkActive="active">Over view</a>
    </li>

    <li>
      <a routerLink="/Age-analysis-page" routerLinkActive="active"
        >Age analysis</a
      >
    </li>

    <li>
      <a routerLink="/adherent-par-service" routerLinkActive="active"
        >Adherent Par Service</a
      >
    </li>
  </ul>
</nav>
