<p>stat1 works!</p>
<!-- <div>
  <h1>Statistics</h1>
  <p>Total Personnel: {{ totalPersonnel }}</p>
  <p>Total Families: {{ totalFamilies }}</p>
  <p>Total Conjoints: {{ totalConjoints }}</p>
  <p>Total Enfants: {{ totalEnfants }}</p>
  <p>Percentage Personnel: {{ percentagePersonnel }}%</p>
  <p>Percentage Conjoints: {{ percentageConjoints }}%</p>
  <p>Percentage Enfants: {{ percentageEnfants }}%</p>
</div> -->
<!-- <canvas
  baseChart
  [data]="pieChartData"
  [type]="pieChartType"
  [options]="pieChartOptions"
  style="display: block; background-color: #3a3939"
  width="600"
  height="300"
>
</canvas> -->
<!-- stat1.component.html -->
<!-- <div class="chart-container">
  <canvas id="myPieChart"></canvas>
</div> -->

<div class="chart-container">
  <h2>REPARTITION PAR TYPE DE BENEFICIAIRES</h2>
  <canvas id="pieChart"></canvas>
</div>
