<!-- <app-stat1></app-stat1>
<app-age-pyramid></app-age-pyramid>
<app-age-pyramid-total></app-age-pyramid-total>
<app-avreage-age></app-avreage-age>
<app-population-evolution></app-population-evolution>
<app-adherent-par-service></app-adherent-par-service>
<app-evolution-monsuelle-par-type></app-evolution-monsuelle-par-type>

<li>
  <a routerLink="/home">First Component</a>
</li>
<router-outlet></router-outlet> -->

<!-- <nav>
  <ul>
    <li><a routerLink="/stat1" routerLinkActive="active">Stat1</a></li>
    <li>
      <a routerLink="/age-pyramid" routerLinkActive="active">Age Pyramid</a>
    </li>
    <li>
      <a routerLink="/age-pyramid-total" routerLinkActive="active"
        >Age Pyramid Total</a
      >
    </li>
    <li>
      <a routerLink="/average-age" routerLinkActive="active">Average Age</a>
    </li>
    <li>
      <a routerLink="/population-evolution" routerLinkActive="active"
        >Population Evolution</a
      >
    </li>
    <li>
      <a routerLink="/adherent-par-service" routerLinkActive="active"
        >Adherent Par Service</a
      >
    </li>
    <li>
      <a routerLink="/evolution-monsuelle-par-type" routerLinkActive="active"
        >Evolution Mensuelle Par Type</a
      >
    </li>
    >
  </ul>
</nav> -->
<app-nav-bar></app-nav-bar>
<app-sidebar></app-sidebar>
<!-- <app-adherent-par-service></app-adherent-par-service> -->
<router-outlet></router-outlet>
